python/*.pyc
*.pyc

.DS_Store

php/js_wright/*
.idea/workspace.xml

php/.idea/workspace.xml

php/images/thum5.png

php/.idea/.name

php/.idea/encodings.xml

php/.idea/misc.xml

php/.idea/modules.xml

php/.idea/php.iml

php/.idea/scopes/scope_settings.xml

php/.idea/vcs.xml

php/images/bluebir5.png

php/images/snowflake5-125.png

php/.DS_Store

.DS_Store

spa/node_modules

spa/app/bower_components
spa/.tmp
spa/.sass-cache
spa/dist
spa/plato-output
