<div class="item-page">

	<h2>
			<a href="/about">
		About</a>
		</h2>
<p>It is certainly an exciting time to be a skier and/or snowboarder! In today’s world, technology and data surround and bombard us. Before you go to your local mountain, how many web resources do you look at? &nbsp;Is the next mountain an hour or two further going to be significantly better? &nbsp;Introducing <em>Where Should I Ski</em>. &nbsp;Weather data feeds are automatically retrieved from a variety of sources and provide ratings and a recommendation on where to go and to tell you what kind of skiing conditions to expect. &nbsp;The site will be in beta mode this season - meaning we will be trying out new ideas and will try to adapt quickly to user feedback.</p>
<h2>Ratings</h2>
<p>The ratings system is simple - the best rating is five and the worst is one. &nbsp;You can sort by either of these rating systems, as well as narrow down your search based on date, state, or region.</p>
<h3>Powder&nbsp;<img src="/images/snowflake5.png" border="0" alt="" style="cursor: se-resize !important;"></h3>
<p>What most everyone cares about! Many times this can simply be "how much new snow is projected for X date". However, I believe that measuring a powder day is by a combination of three factors:&nbsp;</p>
<ul>
<li>Fresh snow from the past 24 hours</li>
<li>New snow projected during the day</li>
<li>Snow from the last 72 hours</li>
</ul>
<p>The rating is calculated by a combination of these factors, weighting fresh snow at 60% and new snow / previous snow at 20% each. In general, a rating of 1 star corresponds to no new snow and a rating of 5 stars means the above three factors average to over ten inches of new snow. Do you have an opinion on how powder should be measured? Give some&nbsp;<a href="/feedback">feedback</a>!</p>
<p>Bottom line, if you see five flakes, you should definitely bring your powder skis/board.&nbsp;</p>
<h3>Bluebird&nbsp;<img src="/images/bluebird5.png" border="0" alt="" style="cursor: se-resize !important;"></h3>
<p>This rates the forecasted weather on how much of a clear/sunny day it is expected to be. For example, sunny Lake Tahoe will get many of these where the cloudy/gloomy Pacific Northwest will not get much. Why do we have this? Well, if there is going to be now new snow, will it at least be a nice day out? Plus, on some lucky days we can be fortunate to have a great powder day plus a bluebird day.</p>
<p>Bottom line, if you see five suns, you better pack some sunscreen.</p>
<h2>The Team&nbsp;</h2>
<h4><img src="/images/profile-med.jpg" border="0" style="float: left; padding-right: 10px;">Eric Fahsl, Founder</h4>
<p>
 
 </span></p>
<p>Eric has been skiing since childhood and has a deep passion for skiing and web development while possessing a strong analytical background. His day job is a technology consultant for a large global firm working on a recommendations engine for an electronics retailer. Based in Washington State, he designed and built&nbsp;<em>Where Should I Ski&nbsp;</em>as a side project to see if he can help fellow skiers have a better experience on the mountains. &nbsp;</p>
<p>&nbsp;</p> 
	
</div>