/* line 1, ../../app/styles/wsis.scss */
body {
  background: url(/images/nz_bg3.jpg);
  background-color: #e0e3ea;
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  #background-attachment: fixed;
}

/* line 9, ../../app/styles/wsis.scss */
body .row-fluid {
  max-width: 1100px;
  margin: auto;
  min-width: 350px;
}

/* line 15, ../../app/styles/wsis.scss */
#header {
  margin-bottom: 0px;
}

/* line 18, ../../app/styles/wsis.scss */
#homeIntro {
  color: black;
  font-size: 1.2em;
  margin: 10px 5%;
  padding: 25px;
  border: 2px dashed maroon;
}

/* line 25, ../../app/styles/wsis.scss */
#facets {
  margin-left: 0px;
  min-width: 160px;
  box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.1) inset;
}

/* line 31, ../../app/styles/wsis.scss */
#facets .header {
  font-size: 13px;
  padding-left: 9px;
  margin: 0;
  background-image: url("images/greyHeader.png");
  border-top: 3px solid black;
  height: auto;
  overflow: auto;
}

/* line 41, ../../app/styles/wsis.scss */
#facets .selected {
  background-image: url("images/greenHeader.png");
}

/* line 45, ../../app/styles/wsis.scss */
#facets ol {
  list-style: none;
  margin: 0;
}

/* line 50, ../../app/styles/wsis.scss */
#facets li {
  display: block;
  padding: 9px;
  margin: 0;
  border-top: 1px solid #949494;
  text-decoration: none;
  color: #0055A4;
  cursor: pointer;
}

/* line 61, ../../app/styles/wsis.scss */
#facets li:hover {
  background-color: lightgrey;
}

/* line 65, ../../app/styles/wsis.scss */
.fullWidth {
  width: 100%;
}

/* line 69, ../../app/styles/wsis.scss */
#facets .x {
  color: red;
  display: none;
  float: right;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 5px;
}

/* line 77, ../../app/styles/wsis.scss */
#stateFacets li {
  width: 50%;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

/* line 84, ../../app/styles/wsis.scss */
#results {
  overflow: hidden;
}

/* line 88, ../../app/styles/wsis.scss */
#searchResults .recresult {
  height: 137px;
  margin-left: 10px;
  float: left;
  min-width: 150px;
}

/* line 95, ../../app/styles/wsis.scss */
#searchResults .recresultLanding {
  margin-left: 10px;
}

/* line 98, ../../app/styles/wsis.scss */
.recheader {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 104, ../../app/styles/wsis.scss */
#searchResults .span2 span {
  font-size: 0.85em;
}

/* line 108, ../../app/styles/wsis.scss */
.span2 .slightSmall {
  font-size: 0.85em;
}

/* line 112, ../../app/styles/wsis.scss */
.smallItalic {
  font-size: 0.9em;
  font-style: italic;
  margin-top: -5px;
}

/* line 118, ../../app/styles/wsis.scss */
#stateListing .stateDisplay {
  margin-left: 10px;
}

/* line 122, ../../app/styles/wsis.scss */
#results .recresult h6 {
  height: 25px;
}

/* line 126, ../../app/styles/wsis.scss */
.divider {
  clear: both;
}

/* line 130, ../../app/styles/wsis.scss */
.recresulthome {
  padding-bottom: 10px;
}

/* line 134, ../../app/styles/wsis.scss */
#resultsHeader {
  font-size: 13px;
  border-top: 3px solid #D6D6D6;
  height: auto;
  overflow: auto;
  line-height: 14px;
  margin-left: 12px;
}

/* line 143, ../../app/styles/wsis.scss */
#number_results {
  display: inline;
  float: left;
  padding: 9px;
  margin: 0;
  font-size: 0.9em;
  font-style: italic;
}

/* line 152, ../../app/styles/wsis.scss */
#resultsHeader #sort {
  padding-top: 3px;
  float: right;
  width: 260px;
  text-align: right;
  margin-right: 12px;
}

/* line 160, ../../app/styles/wsis.scss */
.flakes {
  height: 27px;
  background: url("../images/snowflake5.png");
}

/* line 164, ../../app/styles/wsis.scss */
.thumbs {
  height: 26px;
  background: url("../images/thumb5.png");
}

/* line 168, ../../app/styles/wsis.scss */
.stars {
  height: 26px;
  background: url("../images/star5.png");
}

/* line 172, ../../app/styles/wsis.scss */
.suns {
  height: 30px;
  background: url("../images/bluebird5.png");
}

/* line 176, ../../app/styles/wsis.scss */
.flakes-large {
  height: 54px;
  background: url("../images/snowflake-med-5.png");
}

/* line 180, ../../app/styles/wsis.scss */
.suns-large {
  height: 60px;
  background: url("../images/sun-med-5.png");
}

/* line 184, ../../app/styles/wsis.scss */
.thumbs-large {
  height: 60px;
  background: url("../images/thumbs-med-5.png");
}

/* line 188, ../../app/styles/wsis.scss */
.stars-large {
  height: 57px;
  background: url("../images/stars-med-5.png");
}

/* line 194, ../../app/styles/wsis.scss */
#search_sort {
  width: 180px;
}

/* line 197, ../../app/styles/wsis.scss */
#searchResults h5 {
  margin: 5px;
  cursor: pointer;
  color: #01527A;
}

/* line 202, ../../app/styles/wsis.scss */
#searchResults h5 a {
  color: #01527A;
}

/* line 206, ../../app/styles/wsis.scss */
#forecastHomeWidget {
  font-size: 1.2em;
  font-style: italic;
  border-bottom: 1px solid #5f5f5f;
}

/* line 212, ../../app/styles/wsis.scss */
#forecastHomeWidget .active a {
  background: none;
  border: 1px solid #5f5f5f;
  border-bottom: none;
}

/* line 218, ../../app/styles/wsis.scss */
#powderRecTab {
  margin-left: 15px;
}

/* line 221, ../../app/styles/wsis.scss */
.nomarginbottom {
  margin-bottom: 0px;
}

/* line 224, ../../app/styles/wsis.scss */
.smallmarginbottom {
  margin-bottom: 5px;
}

/* line 227, ../../app/styles/wsis.scss */
#seeAllHome {
  font-style: italic;
  padding-bottom: 7px;
}

/* line 232, ../../app/styles/wsis.scss */
#distanceSection {
  display: none;
}

/* line 235, ../../app/styles/wsis.scss */
#distanceSort {
  display: none;
}

/* line 239, ../../app/styles/wsis.scss */
.button {
  padding: 5px 15px;
  display: inline;
  background: #777 url("images/button.png") repeat-x bottom;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 1px 1px #666;
  margin-top: 8px;
}

/* line 254, ../../app/styles/wsis.scss */
#socialPlugins {
  text-align: center;
  padding-top: 20px;
}

/* line 259, ../../app/styles/wsis.scss */
.stateSummary {
  float: left;
  height: 420px;
  width: 150px;
  padding: 15px;
}

/* line 266, ../../app/styles/wsis.scss */
.mtnContainer {
  width: 50px;
  height: 24px;
  background: url("/images/mtns-icon.png");
  border: 1px solid grey;
}

/* line 273, ../../app/styles/wsis.scss */
.mtnShading {
  width: 50px;
  height: 24px;
  background: url("/images/shading-icon.png");
}

/* line 278, ../../app/styles/wsis.scss */
.mtnContainer-large {
  width: 53px;
  height: 30px;
  background: url("/images/mtns-30px.png");
  border: 1px solid grey;
}

/* line 285, ../../app/styles/wsis.scss */
.mtnShading-large {
  width: 53px;
  height: 30px;
  background: url("/images/shading-53px.png");
}

/* line 290, ../../app/styles/wsis.scss */
#recValueProps p {
  height: 53px;
}

/* line 293, ../../app/styles/wsis.scss */
.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 298, ../../app/styles/wsis.scss */
.footnote {
  font-style: italic;
  font-size: 0.8em;
}

/* line 302, ../../app/styles/wsis.scss */
.ital {
  font-style: italic;
}

/* line 305, ../../app/styles/wsis.scss */
.bottomValueProp {
  padding: 6px;
  text-align: right;
  font-weight: bold;
  font-size: 0.85em;
}

/* line 311, ../../app/styles/wsis.scss */
#resortDetailRatings td {
  text-align: center;
  padding-left: 8px;
}

/* line 315, ../../app/styles/wsis.scss */
.hidden {
  display: none;
}

/* line 318, ../../app/styles/wsis.scss */
#legend {
  border: 1px solid grey;
  padding: 5px;
  font-size: 0.9em;
  text-align: center;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  style: block;
  height: 47px;
}

/* line 332, ../../app/styles/wsis.scss */
#legend .title {
  font-size: 1.1em;
  font-weight: bold;
}

/* line 336, ../../app/styles/wsis.scss */
#map_canvas {
  height: 450px;
}

/* line 339, ../../app/styles/wsis.scss */
#stateListing {
  padding-top: 10px;
}

/* line 342, ../../app/styles/wsis.scss */
.precipitationPotential {
  margin: 0 0 10px 5px;
}

/* line 345, ../../app/styles/wsis.scss */
.precipitationPotential li {
  float: left;
  list-style: none;
  width: 79px;
  border: solid #AEAEAE 1px;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px #CACACA;
  margin-right: 10px;
  text-align: center;
}

/* line 355, ../../app/styles/wsis.scss */
.precipitationPotential .measure {
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 0 2px;
}

/* line 360, ../../app/styles/wsis.scss */
.precipitationPotential .measureLabel {
  font-size: 0.8em;
}

/* line 363, ../../app/styles/wsis.scss */
.midPhoneWidth {
  min-width: 450px;
}

/* line 366, ../../app/styles/wsis.scss */
.smallRightPad {
  padding-right: 5px;
}

/* line 369, ../../app/styles/wsis.scss */
#ratingsChart {
  height: 330px;
  margin-top: 10px;
}

/* line 373, ../../app/styles/wsis.scss */
.page-header {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 378, ../../app/styles/wsis.scss */
.reccView {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  float: left;
  margin: 5px;
  width: 162px;
  height: 205px;
}

/* line 385, ../../app/styles/wsis.scss */
.reccView h6 {
  font-size: 0.6em;
  margin: 0px;
  padding-top: 3px;
  font-style: oblique;
}

/* line 391, ../../app/styles/wsis.scss */
#powderFacets a {
  font-size: 0.8em;
}

/* line 394, ../../app/styles/wsis.scss */
#powderFacets .x {
  padding-top: 13px;
}

/* line 397, ../../app/styles/wsis.scss */
#searchContainer {
  min-width: 350px;
}

/* line 400, ../../app/styles/wsis.scss */
#loadingImage {
  padding: 30px;
}

/* line 403, ../../app/styles/wsis.scss */
#rdp_sidebar {
  font-size: 0.9em;
  margin-left: 0px;
}

/* line 407, ../../app/styles/wsis.scss */
#rdp_sidebar td {
  padding: 2px;
}

/* line 410, ../../app/styles/wsis.scss */
.liftie-widget iframe {
  width: 100%;
  border: 0;
  overflow: none;
}

@media (max-width: 390px) {
  /* line 417, ../../app/styles/wsis.scss */
  body {
    padding-left: 5px;
    padding-right: 5px;
    zoom: 0.9;
  }
}
