@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\000031}}
body {
  background: url(/images/nz_bg3.jpg);
  background-color: #e0e3ea;
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  #background-attachment: fixed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\000039}}
body .row-fluid {
  max-width: 1100px;
  margin: auto;
  min-width: 350px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000315}}
#header {
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000318}}
#homeIntro {
  color: black;
  font-size: 1.2em;
  margin: 10px 5%;
  padding: 25px;
  border: 2px dashed maroon;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000325}}
#facets {
  margin-left: 0px;
  min-width: 160px;
  padding-left: 0px;
  box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.1) inset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000332}}
#facets .header {
  font-size: 13px;
  padding-left: 9px;
  margin: 0;
  background-image: url("/images/greyHeader.png");
  border-top: 3px solid black;
  height: auto;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000342}}
#facets .selected {
  background-image: url("/images/greenHeader.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000346}}
#facets ol {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000352}}
#facets li {
  display: block;
  padding: 9px;
  margin: 0;
  border-top: 1px solid #949494;
  text-decoration: none;
  color: #0055A4;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000363}}
#facets li:hover {
  background-color: lightgrey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000367}}
.fullWidth {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000371}}
#facets .x {
  color: red;
  display: none;
  float: right;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000379}}
#stateFacets li {
  width: 50%;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000386}}
#results {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000390}}
#searchResults .recresult {
  height: 137px;
  margin-left: 10px;
  float: left;
  min-width: 150px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\0000397}}
#searchResults .recresultLanding {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003100}}
.recheader {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003106}}
#searchResults .span2 span {
  font-size: 0.85em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003110}}
.span2 .slightSmall {
  font-size: 0.85em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003114}}
.smallItalic {
  font-size: 0.9em;
  font-style: italic;
  margin-top: -5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003120}}
#stateListing .stateDisplay {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003124}}
#results .recresult h6 {
  height: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003128}}
.divider {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003132}}
.recresulthome {
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003136}}
#resultsHeader {
  font-size: 13px;
  border-top: 3px solid #D6D6D6;
  height: auto;
  overflow: auto;
  line-height: 14px;
  margin-left: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003145}}
#number_results {
  display: inline;
  float: left;
  padding: 9px;
  margin: 0;
  font-size: 0.9em;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003154}}
#resultsHeader #sort {
  padding-top: 3px;
  float: right;
  width: 260px;
  text-align: right;
  margin-right: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003162}}
.flakes {
  height: 27px;
  background: url("../images/snowflake5.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003166}}
.thumbs {
  height: 26px;
  background: url("../images/thumb5.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003170}}
.stars {
  height: 26px;
  background: url("../images/star5.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003174}}
.suns {
  height: 30px;
  background: url("../images/bluebird5.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003178}}
.flakes-large {
  height: 54px;
  background: url("../images/snowflake-med-5.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003182}}
.suns-large {
  height: 60px;
  background: url("../images/sun-med-5.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003186}}
.thumbs-large {
  height: 60px;
  background: url("../images/thumbs-med-5.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003190}}
.stars-large {
  height: 57px;
  background: url("../images/stars-med-5.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003196}}
#search_sort {
  width: 180px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003199}}
#searchResults h5 {
  margin: 5px;
  cursor: pointer;
  color: #01527A;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003204}}
#searchResults h5 a {
  color: #01527A;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003208}}
#forecastHomeWidget {
  font-size: 1.2em;
  font-style: italic;
  border-bottom: 1px solid #5f5f5f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003214}}
#forecastHomeWidget .active a {
  background: none;
  border: 1px solid #5f5f5f;
  border-bottom: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003220}}
#powderRecTab {
  margin-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003223}}
.nomarginbottom {
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003226}}
.smallmarginbottom {
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003229}}
#seeAllHome {
  font-style: italic;
  padding-bottom: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003234}}
#distanceSection {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003237}}
#distanceSort {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003241}}
.button {
  padding: 5px 15px;
  display: inline;
  background: #777 url("/images/button.png") repeat-x bottom;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 1px 1px #666;
  margin-top: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003256}}
#socialPlugins {
  text-align: center;
  padding-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003261}}
.stateSummary {
  float: left;
  height: 420px;
  width: 150px;
  padding: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003268}}
.mtnContainer {
  width: 50px;
  height: 24px;
  background: url("/images/mtns-icon.png");
  border: 1px solid grey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003275}}
.mtnShading {
  width: 50px;
  height: 24px;
  background: url("/images/shading-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003280}}
.mtnContainer-large {
  width: 53px;
  height: 30px;
  background: url("/images/mtns-30px.png");
  border: 1px solid grey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003287}}
.mtnShading-large {
  width: 53px;
  height: 30px;
  background: url("/images/shading-53px.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003292}}
#recValueProps p {
  height: 53px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003295}}
.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003300}}
.footnote {
  font-style: italic;
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003304}}
.ital {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003307}}
.bottomValueProp {
  padding: 6px;
  text-align: right;
  font-weight: bold;
  font-size: 0.85em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003313}}
#resortDetailRatings td {
  text-align: center;
  padding-left: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003317}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003320}}
#legend {
  border: 1px solid grey;
  padding: 5px;
  font-size: 0.9em;
  text-align: center;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  style: block;
  height: 47px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003334}}
#legend .title {
  font-size: 1.1em;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003338}}
#map_canvas {
  height: 450px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003341}}
#stateListing {
  padding-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003344}}
.precipitationPotential {
  margin: 0 0 10px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003347}}
.precipitationPotential li {
  float: left;
  list-style: none;
  width: 79px;
  border: solid #AEAEAE 1px;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px #CACACA;
  margin-right: 10px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003357}}
.precipitationPotential .measure {
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 0 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003362}}
.precipitationPotential .measureLabel {
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003365}}
.midPhoneWidth {
  min-width: 450px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003368}}
.smallRightPad {
  padding-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003371}}
#ratingsChart {
  height: 330px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003375}}
.page-header {
  border: 0;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003380}}
.reccView {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  float: left;
  margin: 5px;
  width: 162px;
  height: 205px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003387}}
.reccView h6 {
  font-size: 0.6em;
  margin: 0px;
  padding-top: 3px;
  font-style: oblique;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003393}}
#powderFacets a {
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003396}}
#powderFacets .x {
  padding-top: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003399}}
#searchContainer {
  min-width: 350px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003402}}
#loadingImage {
  padding: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003405}}
#rdp_sidebar {
  font-size: 0.9em;
  margin-left: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003409}}
#rdp_sidebar td {
  padding: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003412}}
.liftie-widget iframe {
  width: 100%;
  border: 0;
  overflow: none;
}

@media (max-width: 390px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003419}}
  body {
    padding-left: 5px;
    padding-right: 5px;
    zoom: 0.9;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003426}}
.footer-wsis {
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/efahsl\/git\/wsis\/spa\/app\/styles\/wsis\.scss}line{font-family:\00003431}}
#searchContainer {
  display: none;
}
