
<!DOCTYPE html>
<html>
<head>
    <title>Backbone Tester</title>
    <style type="text/css">
        #toTop {width:100px;z-index: 10;border: 1px solid #333; background:#121212; text-align:center; padding:5px; position:fixed; bottom:0px; right:0px; cursor:pointer; display:none; color:#fff;text-transform: lowercase; font-size: 0.7em;}
    </style>

    <link rel="stylesheet" href="http://whereshouldiski.com/templates/js_wright/wright/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="http://whereshouldiski.com/templates/js_wright/wright/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="http://whereshouldiski.com/templates/js_wright/wright/fontawesomemore/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="http://whereshouldiski.com/templates/js_wright/wright/css/joomla25.css" type="text/css" />
    <link rel="stylesheet" href="http://whereshouldiski.com/templates/js_wright/css/1_template.css" type="text/css" />
    <link rel="stylesheet" href="http://whereshouldiski.com/templates/js_wright/css/style-theme1.css" type="text/css" />
    <script src="http://www.whereshouldiski.com/media/system/js/core.js" type="text/javascript"></script>
    <script src="http://www.whereshouldiski.com/templates/js_wright/wright/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/wsis.css" type="text/css" />

    <style type="text/css">


    </style>
</head>
<body>

<!-- START COPYING BELOW THIS LINE -->

<script type="text/template" id="recc-date-template">
    <div style="clear:both;"></div>
    <h5><a href="<%=url%>"><%=prettyDate%></a></h5>
</script>


<script type="text/template" id="recc-template">
    <div class="recresultLanding">
        <div class="recheader">
            <a href="resorts?resort=<%=fields.resort%>&amp;date=<%=fields.date%>"><%=fields.resort_name%></a></div>
        <span><%=fields.state_full%></span><br>
        <h6>Powder:</h6>
        <div class="flakes" style="width: <%=fields['powder.rating'] * 30 %>px" title="Rating: <%=fields['powder.rating']%> / 5"></div>
        <h6>Snow Quality (BETA):</h6>
        <div class="thumbs" style="width: <%=fields['snow_quality.rating'] * 30 %>px" title="Rating: <%=fields['snow_quality.rating']%> / 5"></div>
        <h6>Bluebird:</h6>
        <div class="suns" style="width: <%=fields['bluebird.rating'] * 30 %>px" title="Rating: <%=fields['bluebird.rating']%> / 5"></div>
        <h6>Freezing Level:</h6>
        <div class="mtnContainer"><div class="mtnShading" style="background-position-y: <%= fields['freezing_level.offset']%>px" ></div></div>
    </div>
</script>

<script type="text/template" id="facet-template">
    <div class="x" id="X_<%=term%>">X</div>
    <a href="<%=url%>"><%=displayValue%></a>
</script>

<script type="text/template" id="facet-sort">
<%= displayValue %>
</script>

<section id="searchContainer">
<button class="button visible-phone" id="toggleFilters">Filter</button>
<section id="facets" class="hidden-phone span2">
    <div class="header">
        <h3>Date</h3>
    </div>
    <ol id="dateFacets"></ol>
    <div class="header" id="distanceHeader">
        <h3>Distance</h3>
    </div>
    <ol id="distanceFacets"></ol>
    <div class="header">
        <h3>Powder Rating</h3>
    </div>
    <ol id="powderFacets"></ol>
    <div class="header">
        <h3>Region</h3>
    </div>
    <ol id="regionFacets"></ol>
    <div class="header">
        <h3>State</h3>
    </div>
    <ol id="stateFacets"></ol>
    <div style="clear:both;"></div>

</section>
<section id="recommendations">
    <img src="/images/loading.gif" id="loadingImage"/>
<section id="results">
    <div id="resultsHeader">
        <p id="number_results">Click on any resort name for full details.<br/>
            Learn about our <a target="new" href="/about">rating system</a>.</p>


        <div id="sort">

            <label for="sort">Sort By: </label>
            <select id="search_sort" name="sort">

            </select>
        </div>

        </p>
    </div>
    <section id="searchResults">

    </section>


</section>
</section>
</section>



<!-- STOP COPYING ABOVE THIS LINE -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/models/recc.js"></script>
<script src="js/models/facet.js"></script>
<script src="js/models/dateModel.js"></script>
<script src="js/models/sortOption.js"></script>
<script src="js/collections/reccList.js"></script>
<script src="js/collections/facetList.js"></script>
<script src="js/collections/dateList.js"></script>
<script src="js/collections/searchResult.js"></script>
<script src="js/views/facetView.js"></script>
<script src="js/views/reccView.js"></script>
<script src="js/views/sortView.js"></script>
<script src="js/views/reccHeaderView.js"></script>
<script src="js/views/searchResultsView.js"></script>
<script src="js/app.js"></script>
<script src="js/routers/router.js"></script>
<script src="js/jquery.cookie.min.js"></script>


</body>
</html>