body {
	background: white url(/images/nz_bg3.jpg);
	background-size: cover; background-position: 50% 100%; 
	background-repeat: no-repeat no-repeat; 
	#background-attachment:fixed;
}

body .row-fluid {
	max-width: 1100px;
	margin: auto;
}

#header {
	margin-bottom: 10px;
}
#homeIntro {
	color: black;
	font-size: 1.2em;
	margin: 10px 5%;
	padding: 25px;
	border: 2px dashed maroon;
}
#facets {
	margin-left: 0px;
	min-width:160px;
}

#facets .header {
 	font-size: 13px;
	padding-left: 9px;
	margin: 0;
	background-image: url('images/greyHeader.png');
	border-top: 3px solid black;
	height: auto;
	overflow: auto;
 }

 #facets .selected {
 	background-image: url('images/greenHeader.png');
 }

 #facets ol {
 	list-style: none;
	margin: 0;
 }

 #facets li {

	display: block;
	padding: 9px;
	margin: 0;
	border-top: 1px solid #949494;
	text-decoration: none;
	color: #0055A4;
 	cursor: pointer;
 }

 #facets li:hover {
 	background-color: lightgrey;
 }

 .fullWidth {
 	width: 100%;
 }

 #facets .x {
 	color: red;
 	display: none;
 	float: right;
 	cursor: pointer;
 	padding-left: 20px;
 	padding-right: 5px;
 }
#stateFacet li {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
 #results {
 	overflow:hidden;
 }

#searchResults .recresult {
	height: 137px;
 	margin-left: 10px;
 	float: left;
 	min-width: 150px;
 }

#searchResults .recresultLanding {
 	//height: 90px;
 	margin-left: 10px;
 	float: left;
 	min-width:150px;
 }
.recheader {
	font-weight: bold;
}
#searchResults .span2 span {
	font-size:0.85em;
}

.span2 .slightSmall {
	font-size:0.85em;
}

.smallItalic {
	font-size:0.9em;
	font-style:italic;
	margin-top: -5px;
}

#stateListing .stateDisplay {
	margin-left: 10px;
}

 #results .recresult h6 {
 	height: 25px;
 }
 
 .divider {
 	clear:both;
 }	

 .recresulthome {
 	padding-bottom: 10px;
 }

 #resultsHeader {
 	font-size: 13px;
	border-top: 3px solid #D6D6D6;
	height: auto;
	overflow: auto;
	line-height: 14px;
	margin-left: 12px;
 }

 #number_results {
 	display: inline;
	float: left;
	padding: 9px;
	margin: 0;
	font-size: 0.9em;
	font-style: italic;
 }

 #resultsHeader #sort {
 	padding-top: 3px;
	float: right;
	width: 260px;
	text-align: right;
	margin-right: 12px;
 }

 .flakes {
 	height:27px;
 	background: url("../images/snowflake5.png");
 }
 .suns {
 	height:30px;
 	background: url("../images/bluebird5.png");
 }
 .flakes-large {
 	height:54px;
 	background: url("../images/snowflake-med-5.png");
 }
 .suns-large {
 	height:60px;
 	background: url("../images/sun-med-5.png");
 }

 #search_sort {
 	width: 180px;
 }
 #searchResults {
 	padding-left: 5px;
 }
 #searchResults h5 {
 	margin: 5px;
 	cursor: pointer;
 	color: #01527A;
 }

 #forecastHomeWidget {
 	font-size: 1.2em;
 	font-style: italic;
 	border-bottom: 1px solid rgb(95, 95, 95);
 }

 #forecastHomeWidget .active a {
 	background: none;
 	border: 1px solid rgb(95, 95, 95);
 	border-bottom: none;
 }

 #powderRecTab {
 	margin-left: 15px;
 }

 #seeAllHome {
 	font-style: italic;
 	padding-bottom: 7px;
 }

 #distanceSection {
 	display: none;
 }
 #distanceSort {
 	display:none;
 }

 .button {
		padding: 5px 15px;
		display: inline;
		background: #777 url('images/button.png') repeat-x bottom;
		border: none;
		color: #fff;
		cursor: pointer;
		font-weight: bold;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-shadow: 1px 1px #666;
		margin-top: 8px;
		}

#socialPlugins {
	text-align:center;
	padding-top:20px;
}

.stateSummary {
	float: left;
	height: 420px;
	width: 150px;
	padding: 15px;
}

.mtnContainer {
	width: 50px; 
	height: 24px; 
	background: url('/images/mtns-icon.png'); 
	border: 1px solid grey;
}

.mtnShading {
	width: 50px; height: 24px; 
	background: url('/images/shading-icon.png'); 
}

.mtnContainer-large {
	width: 53px; 
	height: 30px; 
	background: url('/images/mtns-30px.png'); 
	border: 1px solid grey;
}

.mtnShading-large {
	width: 53px; height: 30px; 
	background: url('/images/shading-53px.png'); 
}

#recValueProps p {
	height: 53px;
}
.centerImage {
	display: block;
	margin-left: auto; 
	margin-right: auto;
}
.footnote {
	font-style: italic;
	font-size: 0.8em;
}
.bottomValueProp {
	padding:6px;
	text-align: right;
	font-weight:bold;
	font-size:0.85em;
}
#resortDetailRatings td {
	text-align: center;
	padding-left: 8px;
}
.hidden {
	display:none;
}
#legend {
	border: 1px solid grey;
	padding: 5px;
	font-size: 0.9em;
	text-align:center;
	width: 330px;
	margin-left: auto;
	margin-right:auto;
	style: block;
	height: 47px;
}
#legend .border {
	
}
#legend .title {
	font-size:1.1em;
	font-weight: bold;
}
#map_canvas {
	height: 450px;
}
#stateListing {
	padding-top: 10px;
}
.precipitationPotential {
	margin: 0 0 10px 5px;
}
.precipitationPotential li {
	float:left;
	list-style:none;
	width: 79px;
	border: solid #AEAEAE 1px;
	border-radius: 4px;
	box-shadow: 0 0 4px 1px #CACACA;
	margin-right: 10px;
	text-align: center;
}
.precipitationPotential .measure {
	font-weight:bold;
	font-size: 1.2em;
	margin: 5px 0 2px;
}
.precipitationPotential .measureLabel {
	font-size: 0.8em;
}
.midPhoneWidth {
	min-width: 450px;
}