body {
	background: white url(/images/nz_bg3.jpg);
	background-size: cover; background-position: 50% 100%; 
	background-repeat: no-repeat no-repeat; 
	#background-attachment:fixed;
}

#header {
	margin-bottom: 10px;
}
#facets {
	#max-width: 200px;
	margin-left: 0px;
	min-width:150px;
}

#facets .header {
 	font-size: 13px;
	padding-left: 9px;
	margin: 0;
	background-image: url('images/greyHeader.png');
	border-top: 3px solid black;
	height: auto;
	overflow: auto;
 }

 #facets .selected {
 	background-image: url('images/greenHeader.png');
 }

 #facets ol {
 	list-style: none;
	margin: 0;
 }

 #facets li {

	display: block;
	padding: 9px;
	margin: 0;
	border-top: 1px solid #949494;
	text-decoration: none;
	color: #0055A4;
 	cursor: pointer;
 }

 #facets li:hover {
 	background-color: lightgrey;
 }

 .fullWidth {
 	width: 100%;
 }

 #facets .x {
 	color: red;
 	display: none;
 	float: right;
 	cursor: pointer;
 	padding-left: 20px;
 	padding-right: 5px;
 }

 #results {
 	overflow:hidden;
 }



.recresult {
 	height: 165px;
 	margin-left: 10px;
 	width: 165px;
 	float: left;
 }

 #results .recresult h6 {
 	height: 25px;
 }
 
 .divider {
 	clear:both;
 }	

 #resultsHeader {
 	font-size: 13px;
	border-top: 3px solid #D6D6D6;
	height: auto;
	overflow: auto;
	line-height: 14px;
	margin-left: 12px;
 }

 #number_results {
 	display: inline;
	float: left;
	padding: 9px;
	margin: 0;
 }

 #resultsHeader #sort {
 	padding-top: 3px;
	float: right;
	width: 260px;
	text-align: right;
	margin-right: 12px;
 }

 #search_sort {
 	width: 180px;
 }

 .button {
		padding: 5px 15px;
		display: inline;
		background: #777 url('images/button.png') repeat-x bottom;
		border: none;
		color: #fff;
		cursor: pointer;
		font-weight: bold;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-shadow: 1px 1px #666;
		margin-top: 8px;
		}
	.button:hover {
		background-position: 0 center;
		}
	.button:active {
		background-position: 0 top;
		position: relative;
		top: 1px;
		padding: 6px 10px 4px;
		}